@media print {
    body {
        text-align: center;
        background-color: #fff;
        padding: 30px 0 0 0;
    }

    a, a:hover {
        color: #000;
        text-decoration: none;
    }

    .tm-footer a, .tm-footer a:hover {
        color: #0275d8;
    }

    h2 {
        color: lightskyblue;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 15px;
    }

    p {
        margin: 15px auto;
    }

    ol {
        color: #000;
        margin: auto;
        padding: 0;
        line-height: 1.6;
        list-style: none;
        max-width: 300px;
    }

    ol li:nth-child(odd) {
        text-align: start;
    }

    ol li:nth-child(even) {
        text-align: end;
    }

    ol li::first-letter {
        color: lightskyblue;
        font-size: 30px;
    }

    .tm-content-box {
        margin-bottom: 40px;
    }

    .tm-team-description-container {
        max-width: inherit;
        padding: 0 20px;
    }

    .tm-main-content, .padding-medium, .tm-banner {
        padding: 0;
    }

    #tmCarousel {
        padding: 0;
        margin: 0;
    }

    .tm-sidebar, .tm-team-img, #about, .boxes, .carousel-indicators,
    section:last-of-type, .blocks > .tm-content-box.flex-2-col {
        display: none;
    }

}

@media screen {
    .box-bg:hover {
        background-color: lightskyblue;
    }

    .box-bg:hover > h2 {
        color: #fff;
    }

    .tm-sidebar, .tm-content-header, section {
        box-shadow: 0 0 13px 0 rgba(61, 55, 61, 0.7);
    }

    .tm-banner {
        background-color: #76cdd7;
    }

    .tm-banner-inner {
        background-color: #fff;
        text-shadow: 0 10px 2px #76cdd7;
        letter-spacing: 4px;
        word-spacing: 8px;
    }

    .tm-banner-text {
        animation: move 5s ease-out infinite;
    }

    @keyframes move {
        0% {
            transform: rotateY(0);
        }
        100% {
            transform: rotateY(360deg);
        }
    }

    section:before {
        content: "";
        border-top: 50px solid lightskyblue;
        border-right: 50px solid transparent;
    }

    .heading h2 {
        color: #76cdd7;
        text-align: center;
        margin-bottom: 10px;
    }

    .heading a {
        color: #000;
    }

    .heading ol {
        list-style: lower-roman;
    }

    .heading a:visited {
        color: #ffb347;
    }

    .heading a:hover {
        padding-left: 5px;
        font-weight: 600;
        border-left: 3px solid #ffb347;
        color: #ffb347;
        text-decoration: none;
    }

    .text::after {
        content: 'New';
        color: #ff0000;
        font-size: 10px;
        font-weight: bolder;
        vertical-align: top;
    }

    .box:nth-child(even) {
        background-color: #f2f2f2;
    }

    .box-work {
        padding: 10px;
    }

    h2 + p, .box-work p {
        font-style: italic;
    }

    h2 + p {
        line-height: 1.8;
    }

    .tm-section-description {
        text-indent: 15px;
    }

    .box-work p::first-letter {
        font-size: 26px;
    }

    .contact-form input {
        border: 2px solid #fff;
        border-bottom: 2px solid lightskyblue;
        border-radius: 1px;
    }

    .contact-form input:focus, .contact-form textarea:focus {
        border: 2px solid lightskyblue;
        background: #76cdd7;
        border-radius: 4px;
        color: #fff;
    }

    .contact-form input:focus::placeholder,
    .contact-form textarea:focus::placeholder {
        color: #fff;
    }

    .contact-form input[type='email'] {
        background: url("../img/email-icon.png") no-repeat right;
        background-size: 25px;
    }

    .contact-form input[type='email']:focus {
        background-color: #76cdd7;
    }

    .contact-form textarea {
        border: 2px solid lightskyblue;
        border-radius: 4px;
        resize: none;
    }

    .contact-form button {
        float: right;
        border: 2px solid lightskyblue;
        background-color: #fff;
        color: lightskyblue;
        border-radius: 0;
        font-weight: 300;
        padding: .8rem 3rem;
    }

    .contact-form button:hover {
        border-color: lightskyblue;
        background-color: lightskyblue;
    }

    .tm-nav-item:hover {
        background-color: #e8e8e8;
    }

    .flex-2-col {
        display: flex;
        align-items: center;
    }
}
